@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?jvfivj');
    src: url('../fonts/icomoon.eot?jvfivj#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?jvfivj') format('truetype'), url('../fonts/icomoon.woff?jvfivj') format('woff'), url('../fonts/icomoon.svg?jvfivj#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

/* 版心 */

.w {
    width: 1200px;
    margin: 0 auto;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.style_red {
    color: #c81623;
}

/* 快捷键导航模块 */

.shortcut {
    height: 31px;
    line-height: 31px;
    background-color: #f1f1f1;
}

.shortcut ul li {
    float: left;
}

.shortcut .fr ul li:nth-child(even) {
    width: 1px;
    height: 12px;
    background-color: #6666;
    margin: 9px 15px 0;
}

.arrow_icon::after {
    content: "\ea43";
    font-family: 'icomoon';
    margin-left: 6px;
}

/* header 头部模块 */

.header {
    position: relative;
    height: 105px;
}

.logo {
    width: 171px;
    height: 61px;
    position: absolute;
    top: 25px;
}

.logo a {
    display: block;
    width: 171px;
    height: 61px;
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    font-size: 0;
}

.search {
    position: absolute;
    top: 25px;
    left: 346px;
    width: 538px;
    height: 36px;
    border: 2px solid #b1191a;
}

.search input {
    float: left;
    width: 454px;
    height: 32px;
    padding: 0 10px;
}

.search button {
    float: left;
    width: 80px;
    height: 32px;
    background-color: #b1191a;
    color: #ffff;
    font-size: 16px;
}

.hotwords {
    position: absolute;
    top: 66px;
    left: 346px;
}

.hotwords a {
    margin: 0 10px;
}

.trolley {
    position: absolute;
    top: 25px;
    right: 60px;
    width: 140px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border: 1px solid #dfdfdf;
    background-color: #f7f7f7;
}

.trolley::before {
    content: "\e93a";
    font-family: 'icomoon';
    color: #e60012;
    margin-right: 10px;
}

.trolley::after {
    content: "\ea42";
    font-family: 'icomoon';
    margin-left: 15px;
}

.count {
    position: absolute;
    top: -5px;
    left: 105px;
    height: 14px;
    line-height: 14px;
    color: #ffff;
    background-color: #e60012;
    border-radius: 7px 7px 7px 0;
    padding: 0 5px;
}

/* nav 模块 */

.nav {
    height: 47px;
    border-bottom: 2px solid #b1191a;
    line-height: 45px;
}

.nav .dropdown {
    float: left;
    height: 45px;
    width: 210px;
    background-color: #b1191a;
}

.dropdown .dt {
    height: 100%;
    width: 100%;
    font-size: 16px;
    color: #fff;
    text-align: center;
}

.dropdown .dd {
    /* display: none; */
    width: 210px;
    height: 466px;
    background-color: #c81623;
    margin-top: 2px;
}

.dropdown .dd li {
    position: relative;
    height: 31px;
    margin-left: 2px;
    padding: 0 10px;
    line-height: 30px;
}

.dropdown .dd li:hover {
    background-color: #f7f7f7;
}

.dropdown .dd li::after {
    content: "\ea42";
    font-family: 'icomoon';
    position: absolute;
    top: 1px;
    right: 10px;
    color: #fff;
}

.dropdown .dd li a {
    font-size: 14px;
    color: #fff;
}

.dropdown .dd li:hover a {
    color: #c81623;
    transition: all 0.5s;
}

.dropdown .dd li:hover {
    padding-left: 20px;
    transition: all 0.5s;
}

/* .dropdown .dd li:hover::after {
    color: #c81623;
} */

/* .dropdown:hover .dd {
    display: block;
} */

.nav .navitems {
    float: left;
    margin-left: 40px;
}

.nav .navitems li {
    float: left;
}

.nav .navitems li a {
    display: block;
    height: 45px;
    line-height: 45px;
    padding: 0 20px;
    font-size: 16px;
}

.nav .navitems li:hover a {
    background-color: #c81623;
    color: #fff;
    transition: all 0.5s;
}

/* footer 模块制作  */

.footer {
    height: 420px;
    background-color: #f5f5f5;
    padding-top: 30px;
}

.mod_service {
    height: 85px;
    border-bottom: 1px solid #ededed;
}

.mod_service ul li {
    float: left;
    width: 240px;
    height: 50px;
    padding-left: 35px;
}

.mod_service ul li h5 {
    position: relative;
    float: left;
    width: 50px;
    height: 50px;
    margin-right: 8px;
}

.service1 {
    background-image: url(../images/sprites.png);
    background-repeat: no-repeat;
    background-position: -252px -2px;
}

.service2 {
    background-image: url(../images/sprites.png);
    background-repeat: no-repeat;
    background-position: -254px -53px;
}

.service3 {
    background-image: url(../images/sprites.png);
    background-repeat: no-repeat;
    background-position: -256px -105px;
}

.service4 {
    background-image: url(../images/sprites.png);
    background-repeat: no-repeat;
    background-position: -257px -156px;
}

.service5 {
    background-image: url(../images/sprites.png);
    background-repeat: no-repeat;
    background-position: -256px -208px;
}

.mod_service ul li h4 {
    font-size: 14px;
    padding: 5px 0;
    color: #333333;
}

.mod_help {
    height: 190px;
    border-bottom: 1px solid #ededed;
    padding-top: 20px;
}

.mod_help dl {
    float: left;
    width: 200px;
    height: 170px;
    padding-left: 50px;
}

.mod_help dl dt {
    color: #333333;
    font-size: 16px;
    padding-bottom: 5px;
}

.mod_help dl:last-child {
    padding: 0;
    padding-right: 50px;
    text-align: center;
}

.mod_copyright {
    text-align: center;
    padding-top: 10px;
}

.links {
    margin: 10px 0;
}

.links a {
    padding: 0 15px;
    border-right: 1px solid #999999;
}

.copyright {
    line-height: 20px;
}
