@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?jvfivj');
    src: url('../fonts/icomoon.eot?jvfivj#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?jvfivj') format('truetype'), url('../fonts/icomoon.woff?jvfivj') format('woff'), url('../fonts/icomoon.svg?jvfivj#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

.w {
    width: 1200px;
    margin: 0 auto;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.style_red {
    color: #c81623;
}

.shortcut {
    height: 31px;
    line-height: 31px;
    background-color: #f1f1f1;
}

.shortcut ul li {
    float: left;
}

.shortcut .fr ul li:nth-child(even) {
    width: 1px;
    height: 12px;
    background-color: #6666;
    margin: 9px 15px 0;
}

.arrow_icon::after {
    content: "\ea43";
    font-family: 'icomoon';
    margin-left: 6px;
}

header {
    height: 84px;
    line-height: 84px;
    border-bottom: 2px solid #b1191a;
}

.registerarea {
    height: 520px;
    margin-top: 20px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

.registerarea h3 {
    height: 43px;
    background-color: #ececec;
    font-weight: 400;
    line-height: 43px;
    border: 1px solid #ccc;
    padding: 0 10px;
}

.registerarea h3 p {
    float: left;
    font-size: 18px;
}

.registerarea h3 span {
    float: right;
    font-size: 14px;
}

.registerarea div a {
    color: #cb323b;
}

.reg_form {
    width: 600px;
    margin: 50px auto;
}

.reg_form ul li {
    margin-bottom: 20px;
}

.reg_form ul li:nth-child(3) {
    margin-bottom: 10px;
}

.reg_form ul li label {
    display: inline-block;
    width: 90px;
    text-align: right;
    color: #4c4c4c;
    font-size: 14px;
}

.reg_form ul li input[type="text"], input[type="password"] {
    width: 240px;
    height: 35px;
    border: 1px solid #999999;
    padding: 0 10px;
}

.reg_form .error {
    color: #df3033;
}

.error::before {
    content: '\eaa3';
    font-family: 'icomoon';
    margin: 5px;
}

.reg_form .correct {
    color: #40b83f;
}

.correct::before {
    content: '\eaa4';
    font-family: 'icomoon';
    margin: 5px;
}

.safe {
    color: #b3b3b3;
    padding: 0 165px;
}

.safe em {
    padding: 0 12px;
    text-align: center;
    color: white;
}

.safe .weak {
    background-color: #de1111;
}

.safe .medium {
    background-color: #40b83f;
}

.safe .strong {
    background-color: #f79100;
}

.agree {
    vertical-align: middle;
    margin: 40px 90px;
}

.agree i {
    color: #1ba1e6;
}

.submit {
    width: 200px;
    height: 35px;
    line-height: 35px;
    background-color: #c81623;
    color: #fff;
    text-align: center;
    font-size: 14px;
    margin: 20px 100px;
}

footer {
    height: 120px;
    background-color: #ededed;
}

.mod_copyright {
    text-align: center;
    padding-top: 10px;
}

.links {
    margin: 10px 0;
}

.links a {
    padding: 0 15px;
    border-right: 1px solid #999999;
}

.copyright {
    line-height: 20px;
}
